<div class="row">

  <div class="col-3 first-row">
    <%= render 'shared/sidebar' %>
  </div>

  <div class="col-9 my-container">
    <% @results.each_with_index do |result, index| %>
      <div class="my-card">
        <div>
          <% if result[:user].avatar.attached? %>
          <%= cl_image_tag(result[:user].avatar.key, class: "card-avatar") %>
        <% else %>
          <img class="user-avatar" src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="image">
        <% end %>
        </div>
        <div class="card-content">
          <div class="name"><p><strong><%= result[:user].name.split(" ")[0] %> </strong> <%= result[:user].name.split(" ")[1] %>&nbsp;&nbsp;&nbsp;&nbsp;<%= "⭐️" * result[:user].rep_rating %></p><p>Skill Points: <strong><%= result[:user].skill_rating %></strong></p></div>
          <p><%= result[:user].bio %></p>
          <button type="button" class="my-btn" data-toggle="modal" data-user="<%= result[:user].id %>" data-target="#exampleModalCenter<%= index %>">
            Challenge
          </button>
        </div>
        <div class="map" id="map_<%= index %>"
         style="width: 20%;
         height: auto;"
         data-markers="<%= [{
                               lat: current_user.latitude,
                               lng: current_user.longitude
                             }, @markers[index]].to_json %>"
         data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
      <div class="modal fade" id="exampleModalCenter<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= result[:user].name %>
            </div>
            <div class="modal-footer">
              <%= simple_form_for [result[:user], Match.new] do |f| %>
                <%= f.input :sender_id, :as => :hidden, input_html: { value: current_user.id } %>
                <%= f.input :receiver_id, :as => :hidden, input_html: { value: result[:user].id } %>
                <%= f.input :venue_id, :as => :hidden, input_html: { value: result[:venue].id } %>
                <%= f.input :content, :as => :text %>
                <%= f.input :start_datetime, :as => :hidden, input_html: { value: result[:start_datetime] } %>
                <%= f.input :acceptance_deadline_hrs, :as => :hidden, input_html: { value: params.dig(:search, :acceptance_deadline_hrs) } %>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Confirm</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
