<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="container">
  <% @users.each do |user| %>
  <div class="card">
    <p><%= user.name %></p>
    <p>User skill: <%= user.skill_rating %></p>
    <%= link_to "View Profile", user_path(user.id) %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-user="<%= user.id %>" data-target="#exampleModalCenter">
      Challange
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <%= simple_form_for [user, Match.new] do |f| %>
              <%= f.input :sender_id, :as => :hidden, input_html: { value: current_user.id } %>
              <%= f.input :receiver_id, :as => :hidden, input_html: { value: user.id } %>
              <%= f.input :content, :as => :text %>
              <%= f.input :start_datetime, :as => :hidden, input_html: { value: params.dig(:match, :start_datetime) } %>
              <%= f.input :acceptance_deadline_hrs, :as => :hidden, input_html: { value: params.dig(:match, :acceptance_deadline_hrs) } %>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary">Confirm</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>


