<div class="container">

  <div class="profile-banner">
    <div>
      <% if @user.avatar.attached? %>
        <%= cl_image_tag(@user.avatar.key, class: "user-avatar") %>
      <% else %>
        <img class="user-avatar" src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="image">
      <% end %>
    </div>
    <div class="banner-body">
      <h1><%= @user.name %>'s Profile</h1>
      <p>Skill: <%= @user.skill_rating %></p>
      <p>User rep: <%= "⭐️" * @user.rep_rating %></p>
    </div>
  </div>
  <br>
  <br>
  <textarea name="bio" id="bio" cols="121" rows="10">
    <%= @user.bio %>
  </textarea>
  <br>
  <br>
    <% @matches.each do |match| %>
      <div class="card">
        <p>Match Time: <%= match.start_datetime %></p>
        <p>Challenger: <%= match.sender.name %></p>
        <p>Challenged: <%= match.receiver.name %></p>
      </div>
    <% end %>
    <% if current_user %>
      <% if @user.id != current_user.id%>
        <div class="button-container">
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Decline</button>
        </div>
      <%end%>
      <%else%>
      <button type="button" class="btn btn-secondary">Challenge</button>
    <%end%>
</div>
