<div class="container challenge-box">
  <h2>You've been challenged!</h2>
  <div>
    <div class="challenge-info">
      <!-- datetime -->
      <p><em>Date and time:</em></p>
      <p><strong><%= @match.start_datetime.strftime("%A %d/%m, %H:%M") %></strong></p>
      <br>

      <!-- acceptance deadline -->
      <% deadline = (@match.start_datetime - @match.acceptance_deadline_hrs * 3600) %>
      <p><em>Acceptance deadline:</em></p>
      <p><strong><%= deadline.strftime("%A %d/%m, %H:%M") %></strong></p>
      <br>

      <!-- msg/content -->
      <p><em>Their message:</em></p>
      <p><%= @match.content %></p>
      <br>

      <!-- +13/-6 points on win/lose - normally done by elo/glicko -->
      <% diff = @match.sender.skill_rating - @match.receiver.skill_rating %>
      <p><em>Skill points risked:</em></p>
      <% if diff > 0 %>
        <% winnable = 43 %>
        <% losable = 18 %>
      <% else %>
        <% winnable = 18 %>
        <% losable = 43 %>
      <% end %>

      <p class="points-risk"><span class="win">+<%= winnable %></span> / <span class="lose">-<%= losable %></span></p>

    </div>
    <!-- venue w/ map -->
    <div class="challenge-location">
      <p><em>Venue location:</em></p>
      <div class="map" id="map_0"
       style="width: 250px;
       height: 250px;"
       data-markers="<%= [{
                            lat: current_user.latitude,
                            lng: current_user.longitude
                           }, {
                            lat: @match.venue.latitude,
                            lng: @match.venue.longitude
                           }].to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

  <div class="challenge-buttons">
    <!-- button: accept -->
    <%= link_to "Accept", accept_match_path(@match), class: "btn btn-success" %>
    <!-- button: reject -->
    <%= link_to "Reject", root_path, class: "btn btn-danger" %>
  </div>
</div>
