

<div class="row little-margin" style="background-color:white">
  <div class="col-3 first-row">
      <%= render 'shared/sidebar' %>
  </div>


  <div class="col-6 contents-div" style="height:110%;background-color:white;">

    <div class="challenge-message" style="height:70px;">

      <% sender = @match.sender %>
      <% receiver = @match.receiver %>
      <div class="player-vs-player-div" style="display: flex;margin-top: 20px;justify-content: space-between;align-items: center; width:100%;">
        <div>
          <% if current_user.avatar.attached? %>
            <div>
              <%=  cl_image_tag(current_user.avatar.key, class: "splash-profile-pic") %>
              <%= current_user.name %>
            </div>
          <% else %>
            <div>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
              <%= current_user.name %>
            </div>
          <% end %>
        </div>

        <h5 style="position: absolute;left: 46%;">VS</h5>

        <% if current_user.id == sender.id %>
          <div>
            <% if receiver.avatar.attached? %>
              <div>
                <%= receiver.name %>
                <%=  cl_image_tag(receiver.avatar.key, class: "splash-profile-pic") %>
              </div>
            <% else %>
              <div>
                <%= receiver.name %>
                <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
              </div>
            <% end %>
          </div>
        <% end %>

        <% if current_user.id == receiver.id %>
          <div>
            <% if sender.avatar.attached? %>
              <div>
                <%= sender.name %>
                <%=  cl_image_tag(sender.avatar.key, class: "splash-profile-pic") %>
              </div>
            <% else %>
              <div>
                <%= sender.name %>
                <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>

    <div class="message-input-div" style="width:85%" >
      <%= simple_form_for [ current_user, @match, @message ], html: { class: "form-message-input"} do |f| %>
        <%= f.input :content, label: false, placeholder: "Message....", input_html: { class: 'special' }%>
      <% end %>
      <div class="messages-box-container">
        <div id="messages_<%= @match.id %>" class="messagess" data-match-id="<%= @match.id %>" data-user-id="<%= current_user.id%>">
          <div class="message-container">
            <div class="message-name-tag">
              <% sender.name %>
            </div>
            <br>

          </div>
          <% @match.messages.order(created_at: :desc).each do |message| %>

            <% if message.user_id == current_user.id %>
              <div class="message-left">
                <%= render "messages/message", message: message, style: "message-out"%>
              </div>
            <% end %>

            <% if message.user_id != current_user.id %>
              <div class="message-right">
                <%= render "messages/message", message: message, style: "message-in" %>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>

  </div>
  <div class="col-3 match-dets" style="background-color:rgba(0,0,0,0.03)">
    <% if !@match.is_complete %>
      <%= render 'challenge' %>
    <% end %>
  </div>
</div>



