
<div class="container">
  <div class="row little-margin">
    <div class="col-3">
      <% @matches.each do |match| %>
        <% sender = match.sender %>
        <% receiver = match.receiver %>

        <% if sender.id == current_user.id %>
          <% if receiver.avatar.attached? %>
            <%= receiver.avatar %>
          <% else %>
            <%= link_to matches_path(match: match.id) do %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
            <% end %>
          <% end %>

          <%= receiver.name %>
          <hr>
        <% end %>

        <% if receiver.id == current_user.id %>
          <% if sender.avatar.attached? %>
            <%= sender.avatar %>
          <% else %>
            <%= link_to matches_path(match: match.id) do %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
            <% end %>
          <% end %>
          <%= sender.name %>
         <hr>
        <% end %>

      <% end %>
      <%# raise %>
    </div>




    <div class="col-9" style="overflow-y: scroll; max-height: 60vh;background-color: white;">
      <div id="messages" data-match-id="<%= @match.id %>">
        <div class="challenge-message">
          <% sender = @match.sender %>
          <% receiver = @match.receiver %>

          <% if current_user.avatar.attached? %>
            <%= current_user.avatar %>
          <% else %>
            <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
          <% end %>

          <h5>VS</h5>

          <% if current_user.id == sender.id %>
            <% if receiver.avatar.attached? %>
              <%=  cl_image_tag(receiver.avatar.key) %>
            <% else %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
            <% end %>
          <% end %>

          <% if current_user.id == receiver.id %>
            <% if sender.avatar.attached? %>
              <%=  cl_image_tag(sender.avatar.key) %>
            <% else %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
            <% end %>
          <% end %>



        </div>
        <%= sender.name %>
        <br>
        <%= @match.content %>
        <hr>
        <% @match.messages.each do |message| %>

          <% if message.user_id == current_user.id %>
            <div class="message-left">
              <%= render "messages/message", message: message %>
            </div>
          <% end %>

          <% if message.user_id != current_user.id %>
            <div class="message-right">
              <%= render "messages/message", message: message %>
            </div>
          <% end %>

        <% end %>
      </div>

      <div style="position: sticky; bottom: 0; height: 50px;">
        <%= simple_form_for [ current_user, @match, @message ] do |f| %>
          <%= f.input :content, label: false, placeholder: "Message" %>
        <% end %>
      <div>

    </div>
  </div>
</div>


