

<div class="row little-margin">
  <div class="col-3 first-row">
      <%= render 'shared/sidebar' %>
  </div>


  <div class="col-9 contents-div">

    <div class="challenge-message" style="height:70px;">

      <% sender = @match.sender %>
      <% receiver = @match.receiver %>
      <div class="player-vs-player-div">
        <div>
          <% if current_user.avatar.attached? %>
            <%= current_user.name %>
            <%=  cl_image_tag(current_user.avatar.key, class: "splash-profile-pic") %>
          <% else %>
            <%= current_user.name %>
            <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
          <% end %>
        </div>

        <h5>VS</h5>
        <div>
          <% if current_user.id == sender.id %>
            <% if receiver.avatar.attached? %>
              <%=  cl_image_tag(receiver.avatar.key, class: "splash-profile-pic") %>
              <%= receiver.name %>
            <% else %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
              <%= receiver.name %>
            <% end %>
          <% end %>
        </div>
        <div>
          <% if current_user.id == receiver.id %>
            <% if sender.avatar.attached? %>
              <%=  cl_image_tag(sender.avatar.key, class: "splash-profile-pic") %>
              <%= sender.name %>
            <% else %>
              <img src="https://pngimage.net/wp-content/uploads/2018/06/no-avatar-png-8.png" alt="avatar" class="avatar">
              <%= sender.name %>
            <% end %>
          <% end %>
        </div>
      </div>

    </div>

    <div class="match-information">

      <% if !@match.is_complete %>
        <%= render 'challenge' %>
      <% end %>

    </div>

    <div class="message-input-div" >
      <%= simple_form_for [ current_user, @match, @message ], html: { class: "form-message-input"} do |f| %>
        <%= f.input :content, label: false, placeholder: "Message....", input_html: { class: 'special' }%>
      <% end %>
      <div class="messages-box-container">
        <div id="messages_<%= @match.id %>" class="messagess" data-match-id="<%= @match.id %>" data-user-id="<%= current_user.id%>">
          <div class="message-container">
            <% sender.name %>
            <br>
            <%= @match.content %>
          </div>
          <% @match.messages.order(created_at: :desc).each do |message| %>

            <% if message.user_id == current_user.id %>
              <div class="message-left">
                <%= render "messages/message", message: message, style: "message-out"%>
              </div>
            <% end %>

            <% if message.user_id != current_user.id %>
              <div class="message-right">
                <%= render "messages/message", message: message, style: "message-in" %>
              </div>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>



