<div class="container">
  <h1>New Match</h1>
  <%= simple_form_for @match, url: users_path, method: :get do |f| %>
      <%= f.input :start_datetime, as: :date, html5: true, label: "When do you want to play?", input_html: { value: Date.today } %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>
      <%= f.input :acceptance_deadline_hrs %>
      <%= f.input :address %>
      <%= f.submit "Book!", class: "btn btn-primary" %>
  <% end %>
</div>
